In [50]:
import pandas as pd

In [51]:
df = pd.read_csv("spotify_millsongdata.csv")

In [53]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [54]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [55]:
df.shape

(57650, 4)

In [56]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [57]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [58]:
df.head(10)

,artist,song,text
0,Passenger,Divers And Submarines,"Well I clung to you, \r\nLike cat hair clings..."
1,Stone Temple Pilots,Long Way Home,"Leave me out, get away \r\nI gotta go a long ..."
2,Yellowcard,Two Weeks From Twenty,Jimmy wasn't really popular \r\nHe had a coup...
3,Jackson Browne,Cocaine,You take Sally and I'll take Sue \r\nThere ai...
4,Foo Fighters,Stranger Things Have Happened,Goddamn this dusty room \r\nThis hazy afterno...
5,Flo-Rida,Jump,"[Chorus: Nelly Furtado] \r\nWhen I say jump, ..."
6,Scorpions,Life's Like A River,As years are passing by \r\nSilence becomes y...
7,Grand Funk Railroad,"People, Let's Stop The War","Ooo, ooo, ooo, ooo-ooo, ooo, ooo, ooo \r\n \..."
8,Boney M.,I Shall Sing,"I shall sing, sing my song \r\nBe it right, b..."
9,Cyndi Lauper,Mother,Over land and over sea \r\nShe reaches out to...

In [59]:
df['text'][0]

"Well I clung to you,  \r\nLike cat hair clings to a woolen shirt  \r\nYou needed me, like a wedding dress needs dirt  \r\nThe more that I wanted, the harder I squeezed  \r\nThe harder I squeezed, the less you could breathe  \r\nAnd we sunk down to the bottom  \r\nYeah, we sunk down to the bottom of the sea  \r\nYeah, we sunk down to the bottom of the sea  \r\n  \r\nAnd I cried for you,  \r\nLike a widow cries at her lover's grave  \r\nYou haunted me through my stinging nights,  \r\nAnd aching days  \r\nThe more that you struggled, the tighter the knots,  \r\nThe tighter the knots, the lower we got  \r\n  \r\nAnd we sunk down to the bottom  \r\nYeah, we sunk down to the bottom of the sea  \r\nYeah, we sunk down to the bottom of the sea  \r\nYeah, we sunk down to the bottom of the sea  \r\nOh no,  \r\n'Cause I saw divers and submarines  \r\nAnd I saw divers and submarines  \r\nOh, I saw divers and submarines\r\n\r\n"

In [60]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [61]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [62]:
df.tail(5)

,artist,song,text
4995,Foo Fighters,Drive Me Wild - Everlong Uk Single,you could be in a cadillac \r you could be in...
4996,Eddie Cochran,Milkcow Blues,"well i woke up this morning, looked out the do..."
4997,Demi Lovato,Don't Forget,did you forget \r that i was even alive \r d...
4998,Air Supply,I Want You,"if it's love that you want, there will always ..."
4999,Bob Dylan,Gonna Change My Way Of Thinking,"gonna change my way of thinking, \r make myse..."

In [63]:
import nltk
from nltk.stem.porter import PorterStemmer

In [64]:
stemmer = PorterStemmer()

In [65]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a =[stemmer.stem(w) for w in token]
    return " ".join(a)

In [66]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\NISHANT
[nltk_data]     KUMAR\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [67]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [68]:
df['text'].apply(lambda x: token(x))

0       well i clung to you , like cat hair cling to a...
1       leav me out , get away i got ta go a long way ...
2       jimmi wa n't realli popular he had a coupl of ...
3       you take salli and i 'll take sue there ai n't...
4       goddamn thi dusti room thi hazi afternoon i 'm...
                              ...
4995    you could be in a cadillac you could be in con...
4996    well i woke up thi morn , look out the door i ...
4997    did you forget that i wa even aliv did you for...
4998    if it 's love that you want , there will alway...
4999    gon na chang my way of think , make myself a d...
Name: text, Length: 5000, dtype: object

In [69]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [70]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [71]:
matrix=tfid.fit_transform(df['text'])

In [72]:
similer = cosine_similarity(matrix)

In [74]:
similer[0]

array([1.00000000e+00, 2.47134388e-03, 9.18523088e-04, ...,
       3.73904982e-03, 2.28326742e-02, 1.44377817e-03])

In [78]:
df[df['song']=='Milkcow Blues'].index[0]

4996

Recommender Function

In [ ]:
def recommender(song_name):
    idx = df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similer[idx])), reverse=True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
        return song

In [85]:
recommender("Life's Like A River")

['Wide River']

In [86]:
import pickle

In [87]:
pickle.dump(similer, open("similarity", "wb"))

In [88]:
pickle.dump(df, open("df", "wb"))